<html>
<head>
    <link rel="stylesheet" href="app.component.css">
</head>
<body onload="startGame(2)">

<h1>
    Dart x01 Elimination
</h1>

<div style="background-color:#eee; height:44px; width:410px; float:right;">
    <label for="usr">Punkte eingabe (Bitte jeden einzelnen Wurf seperat eingeben):</label>
    <input type="text" class="form-control" id="usr">
    <button type="button" class="btn btn-primary btn-lg">Punkte</button>
</div>

<table border='1' style="background-color:#eee;">
    <colgroup>
        <col width="100">
        <col width="100">
        <col width="100">
    </colgroup>
    <tr>
        <td>Round</td>
        <td>Player1</td>
        <td>Player2</td>
    </tr>
    <tr>
        <td id='round'>1</td>
        <td id='player1' class='player first'></td>
        <td id='player2' class='player'>0</td>
    </tr>
</table>

<!-- JS Script imports for gamelogic starts here -->
<!-- Order is important -->
<script src="../js/typecheck.js"></script>
<script src="../js/player.js"></script>
<script src="../js/game.js"></script>
<script src="../js/elimination.js"></script>
<!-- At the end of the script to load HTML first -->

</body>
</html>