<!--The content below is only a placeholder and can be replaced.-->
<!--
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
-->

<html>
<body onload="startGame(2)"> <!-- Start game galls the game method (see console) -->
<div style="text-align:center; color:red; font-size:24px;">
    <h1>
        {{ title }}
    </h1>
    <!--
    <img width="105" alt="Darts" src="pics/darts2.jpg">
    -->
</div>

<div style="background-color:#eee; height:44px; width:410px; float:right;">
    <label for="usr">Punkte eingabe (Bitte jeden einzelnen Wurf seperat eingeben):</label>
    <input type="text" class="form-control" id="usr">
    <button type="button" class="btn btn-primary btn-lg">Punkte</button>
</div>


<table border='1'>
    <colgroup>
        <col width="100">
        <col width="100">
        <col width="100">
    </colgroup>
    <tr>
        <td>Round</td>
        <td>Player1</td>
        <td>Player2</td>
    </tr>
    <tr>
        <td id='round'>1</td>
        <td id='player1' class='player first'>0</td>
        <td id='player2' class='player'>0</td>
    </tr>
</table>

<!-- JS Script imports for gamelogic starts here -->
<!-- Order is important -->
<script src="../js/typecheck.js"></script>
<script src="../js/player.js"></script>
<script src="../js/game.js"></script>
<script src="../js/elimination.js"></script>
<script src="../dart-app/src/app/app.module.ts"></script>
<!-- At the end of the script to load HTML first -->
</body>
</html>
