
/* IDS */
#player_number {
    margin-top: 5%;
    float: top;
    text-align: center;
    font-size: 25px;
    width: 50%;
}

#shot_container {
    margin-top: 5%;
    font-size: 25px;
    text-align: center;
}

#currentPlayer {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    font-size: 30px;
    float: top;
}