



/* IDS */
#player_number {
    float: top;
    text-align: center;
    font-size: 20px;
    width: 50%;
}

#information{
    font-size: 25px;
    text-align: center;
}

/* IDS */
#shot_container {
    margin-top: 1%;
    font-size: 25px;
    text-align: center;
}
#target {
    background: darkgreen;
    padding: 10px;
    border-radius: 50%;
    color: white;
}

#player_stats {
    margin-top: 2%;
    font-size: 20px;
    text-align: center;
}

#rules {
    text-align: center;
    font-size: 10px;
    font-family: verdana;
}

