.container {
    text-align: left;
    float: left;
    font-size: 35px;
    font-family: verdana;
    margin: 5% 10%;
}


button.buttonStyle {
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    background-color: darkgreen;
    color: white;
    margin-top: 10px;
}


#implementation_details {
    text-align: center;
    font-size: 18px;
    font-family: "Courier New";
    float: bottom;
    width: auto;
}