.container {
    text-align: left;
    float: left;
    font-size: 35px;
    font-family: Arial;
    margin: 5% 10%;
}


#implementation_details {
    text-align: center;
    font-size: 18px;
    font-family: "Courier New";
    float: bottom;
    width: auto;
}