<html>
<head>
    <link rel="stylesheet" href="../css/app.component.css">
</head>
<!-- <meta http-equiv="refresh" content="0; URL=main.html"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body> <!-- debugging purposes -->

<h1>
    Dart x01 Elimination
</h1>

<div style="background-color:#eee; height:24px; width:410px; float:left; margin-top: 3cm">
    <label>Wie viele Spieler?</label>
    <button type="button" class="btn btn-primary btn-lg" onclick="startGame(2)">2 Spieler</button>
    <button type="button" class="btn btn-primary btn-lg" onclick="startGame(3)">3 Spieler</button>
    <button type="button" class="btn btn-primary btn-lg" onclick="startGame(4)">4 Spieler</button>
</div>

<!-- divs need ids to be able to access contents inside -->
<div id="shot_container"
     style="background-color:#eee; height:44px; width:410px; float:right; margin-right: 1cm; margin-top:3cm">
    <label for="usr">Punkte eingabe (Bitte jeden einzelnen Wurf seperat eingeben):</label>
    <input id="usr" type="text" onkeydown= "pressButton('shotButton')">
    <button id="shotButton" type="button" class="btn btn-primary btn-lg" onclick="onShotClick()">Punkte</button>
    <label id="currentPlayer"> </label>
</div>

<table border='1' style="background-color:#eee; margin-top: 5cm">
    <colgroup>
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="200">
    </colgroup>
    <tr>
        <td>Player1</td>
        <td>Player2</td>
        <td>Player3</td>
        <td>Player4</td>
    </tr>
    <tr>
        <td id='player1'>0</td>
        <td id='player2'>0</td>
        <td id='player3'>0</td>
        <td id='player4'>0</td>
    </tr>
</table>

<div style="float:bottom; text-align:center; margin-top:10cm;">
    <button type="button" class="btn btn-primary btn-lg" onclick="startGame(2)"
            style="background-color: green; height:40px; width:100px;">
        Neustart
    </button>
</div>

<!-- JS Script imports for game logic starts here -->
<!-- Order is important -->
<script src="../scripts/util/typecheck.js"></script>
<script src="../scripts/model/shotstate.js"></script>
<script src="../scripts/model/player.js"></script>
<script src="../scripts/model/game.js"></script>
<script src="../scripts/controller/elimination.js"></script>
<script src="../scripts/controller/htmlcontroller.js"></script>
<script src="../scripts/view/htmlview.js"></script>
<!-- At the end of the script to load HTML first -->

</body>
</html>